* {
  margin: 0;
  scroll-behavior: smooth;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body{
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to right bottom, rgb(49, 61, 92), rgb(61, 42, 84));  color: white;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.app-wrapper{
  width: 100%;
  min-height: calc(100% - 100px);
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}
